body {
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
nav {
    width: 100%;
    background-color: #202c45;
    box-sizing: border-box;
    padding: 0 50px;
}
nav h1 {
    margin: 0;
    padding: 15px 20px;
    float: left;
}
nav h1 a {
    color: whitesmoke;
    text-decoration: none;
}
nav ul {
    margin: 0;
    padding: 0;
    float: right;
}
nav ul li {
    margin: 15px 0;
    list-style: none;
    display: inline-block;
        transition: 0.5s;
    padding: 8px 30px;
}
nav ul li a {
    text-decoration: none;
    color: whitesmoke;
}
nav ul li:hover {
    background-color: lightgrey;
}
.Xbtn{
    display: none;    
    padding: 4px 7px !important;
}
.responsive-bar {
    display: none;
    width: 100%;
    background-color: #39743e;
    padding: 10px 10px;
    box-sizing: border-box;
}
.responsive-bar h3 {
    margin: 0;
    padding: 8px 0;
    float: left;
  
}
.responsive-bar h3 a {
    color: whitesmoke;
    text-decoration: none;
}
.responsive-bar h2 {
    margin: 0;
    float: right;
    background-color: lightgray;
    padding: 4px;
    text-align: center;
    border-radius: 2px;
}
.responsive-bar h2 a {
    text-decoration: none;
    color: #202c45;    
}
@media (max-width: 800px) {
    .responsive-bar {
        display: block;
    }
    
    nav {
        display: none;
    }
    nav h1 {
        display: none;
    }
    nav ul {
        float: none;
    }
    nav ul li {
        margin: 0;
        text-align: center;
        padding: 1em 0;
        display: block;
    }
}